 @media only screen and (min-width: 770px){
.grid-container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
"box1 box1 box2"
"box3 box3 box4"
"box5 box5 box6"
"box7 box7 box8"
"box9 box9 box9"
"box10 box10 box10"
}

.grid-item1  {
    grid-area: box1;
    height: 275px;
    background-color: rgb(101, 152, 108);
    
}

.grid-item2 {
    grid-area: box2;
    height: 275px;
    background-color: rgb(101, 152, 108);
}
 
.grid-item3 {
    grid-area: box3;
    height: 650px;
    background-color: white;
}

.grid-item4 {
    grid-area: box4;
    height: 650px;
    background-color: rgb(191, 225, 191);
}

.grid-item5 {
    grid-area: box5;
    height: 650px;
    background-color: rgb(102, 148, 115);
}

.grid-item6 {
    grid-area: box6;
    height: 650px;
    background-color: rgb(97, 145, 111);
}

.grid-item7 {
    grid-area: box7;
    height: 650px;
    background-color: white;
}

.grid-item8 {
    grid-area: box8;
    height: 650px;
    background-color: rgb(110, 174, 153);
}

.grid-item9 {
    grid-area: box9;
    height: 300px;
    background-color: rgb(62, 123, 89);
}

.grid-item10 {
    grid-area: box10;
    height: 250px;
    background-color: rgb(31, 76, 51);
} 
}
@media only screen and (max-width:769px){
  .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
}

 .grid-item1{
grid-row: 1/2;
height: 250px;
background-color: rgb(101, 152, 108);
}
.grid-item2{
grid-row: 2/3;
height: 100px;
background-color: rgb(101, 152, 108);
}
.grid-item3{
grid-row: 3/4;
height: 375px;
background-color: white;
}
.grid-item4{
grid-row:8/9;
height: 90px;  
background-color: rgb(191, 225, 191);  
}

.grid-item5{
grid-row: 4/5;
height: 375px;  
background-color: rgb(102, 148, 115);  
}

.grid-item6{
grid-row: 9/10;
height: 275px;
background-color: rgb(97, 145, 111);
}

.grid-item7{
grid-row: 5/6;
height: 375px;
background-color: white;
}

.grid-item8{
grid-row: 10/11;
height: 100px; 
background-color: rgb(110, 174, 153);   
}

.grid-item9{
grid-row: 6/7;
height: 375px;  
background-color: rgb(62, 123, 89);  
}

.grid-item10{
grid-row:7/8;
height: 200px;
background-color: rgb(31, 76, 51);    
}  
}